#trafficTop {
    margin: auto;
    background-color: black;
    width: 10px;
    height: 80px;
}

#container {
    margin: auto;
    background-color: black;
    width: 80px;
    height: 200px;
    border-radius: 10%;
}

.light{
    width:60px;
    height: 60px;
    border-radius:50%;
}

.red{
    background-color:darkred;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: darkgreen;
}

.selected{
    background-color: orange;
}